@import "variables";

body {
  font-size: 1rem;
  background-color: $bg;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1120px;
}

h1.logo {
  color: black;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 5rem auto;

  span {
    color: $green;
  }
}

// Form

.form {
  margin: auto;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;

    .options {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      @media (max-width: 640px) {
        flex-direction: column;
      }

      .option {
        width: 100%;

        &:not(:first-of-type) {
          margin-left: 1rem;
        }

        @media (max-width: 640px) {
          &:not(:first-of-type) {
            margin-left: 0;
            margin-top: 1rem;
          }
        }

        label {
          margin-bottom: 0.5rem;
        }
      }
    }

    input {
      appearance: none;
      width: 100%;
      border-radius: 4px;
      font-size: 1rem;
      font-family: inherit;
      padding: 0.5rem 0.75rem;
      border: 2px solid darken($bg, 10%);
      background-color: white;
      outline: none;
      height: 42px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover,
      &:focus {
        border-color: $blue;
      }
    }

    button {
      appearance: none;
      margin-top: 2rem;
      font-size: 2rem;
      padding: 1rem;
      border: 2px solid darken($green, 30%);
      border-radius: 4px;
      background-color: $green;
      color: darken($green, 30%);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      outline: none;

      &:hover,
      &:focus {
        background-color: lighten($green, 20%);
        border-color: darken($green, 10%);
        color: darken($green, 10%);
      }
    }
  }
}

// Result

.chart-container {
  position: relative;
  margin: 5rem 0;
  height: 500px;
}
